*{
    margin: 0;
    padding: 0;
    font-family: 'Piazzolla', serif;
    box-sizing: border-box;
}

:root{
    --main-bg:#1e272e;
    --main-color:#0097e6;
}
html{
    font-size: 72.5%;
    /* 1rem=10px; */

}
.main{
    /* background-color: var(--main-bg); */
}
.navbar-toggler{
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: #c82222;
    color: white;
    background-color: white;
}
